




<ion-card  *ngFor="let dd of datax">
  <img src="https://placehold.it/500x500" />
  <ion-card-header>
    <ion-card-subtitle>{{dd.category}}</ion-card-subtitle>
    <ion-card-title>{{dd.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>{{extractorwow(dd.details)}}</p>
    <ion-button href="/listingdetails/{{dd.ID}}">test</ion-button>
  </ion-card-content>
</ion-card>
