<app-header></app-header>

<ion-content *ngFor=" let dd of datax">

  <ion-grid>


  <ion-slides class="slide-padding" pager="false">
      <ion-slide>
          <div class="container">
              <ion-img src="https://placehold.it/500x500"></ion-img>
              <!-- dito to be placed dapat ung {{dd.picture[0]}}  sa src-->
            
          </div>
      </ion-slide>
  </ion-slides>
<ion-row>
    <ion-col size="12">
      <h3>title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis pariatur maxime ipsam aut minima minus dicta, aspernatur error nihil enim, sed reiciendis illo soluta animi optio! Debitis, porro velit!</p>
    </ion-col>
</ion-row>


<ion-row>
    <ion-col size="12">
      <h3>Terms</h3>
      <p>{{dd.terms}}</p>
    </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <h3>rate</h3>
    <p>{{dd.rate}}</p>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <h3>status</h3>
    <p>{{dd.status}}</p>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <h3>contact</h3>
    <p><a href="tel:+{{dd.contact}} ">{{dd.contact}} </a></p>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <h3>details</h3>
    <p>{{dd.details}}</p>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <h3>owner</h3>
    <p>{{dd.owner}}</p>
  </ion-col>
</ion-row>


<ion-row>
  <ion-col size="12">
    <h3>address</h3>
    <p>{{dd.address}}</p>

   

    <agm-map
        
[latitude]="lat"
[longitude]="lng">
 
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

  </ion-col>
</ion-row>







</ion-grid>
</ion-content>


