<app-header></app-header>

<ion-content>


  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <h1>About Section</h1>
      </ion-col>
     
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <img src="https://placehold.it/500x500" alt="">
      </ion-col>
      <ion-col size="6">
        <strong>Name: </strong> Name <br>
        <strong>Bday: </strong> y-m-d <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <img src="https://placehold.it/500x500" alt="">
      </ion-col>
      <ion-col size="6">
        <strong>Name: </strong> Name <br>
        <strong>Bday: </strong> y-m-d <br>
      </ion-col>
    </ion-row>


    </ion-grid>

</ion-content>
