<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Listing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="tv"></ion-icon>
      <ion-label>Featured</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab4">
      <ion-icon name="send"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

  

</ion-tabs>
