<app-header></app-header>

<ion-content>
    <ion-content>
        <agm-map
         [style.height.px]="height"
         >
           <agm-marker [latitude]="17.622449" [longitude]="121.719604"></agm-marker>
           <agm-marker [latitude]="17.623198" [longitude]="121.720047"></agm-marker>
        </agm-map>
      </ion-content>
</ion-content>
