:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  .swiper-slide {
    display: block;
  }

  ion-slide > h2 {
    margin-top: 2.8rem;
    font-size:3rem;
  }
  ion-slide > p {
      font-size:26px;
  }

