<ion-slides>

  <ion-slide>
    <img src="https://placehold.it/1500x900"/>
    <h2>Featured 1</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, animi quis! Quae excepturi velit temporibus amet, blanditiis dicta, eaque cumque quibusdam dolores repudiandae necessitatibus officiis cum suscipit illum alias tempore.</p>
  </ion-slide>

  <ion-slide>
    <img src="https://placehold.it/1500x900"/>
    <h2>Featured 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dignissimos deserunt iste facilis natus eligendi cupiditate debitis amet eos consequatur. Necessitatibus reiciendis id vel, corporis corrupti consectetur explicabo ipsa repudiandae!</p>
  </ion-slide>

  <ion-slide>
    <img src="https://placehold.it/1500x900"/>
    <h2>featured 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corporis porro alias deleniti nemo incidunt voluptatum autem veniam quidem vitae voluptatem necessitatibus saepe cum magnam, delectus veritatis quae! Non, quia.</p>
  </ion-slide>

  <ion-slide>
    <img src="https://placehold.it/1500x900"/>
    <h2>Continue to Map</h2>
    <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </ion-slide>

</ion-slides>