<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mobile Application Title</ion-title>
  </ion-toolbar>


</ion-header>

